@charset "UTF-8";
/*------------------СБОРЩИК СТРАНИЦЫ ПОРТФОЛИО-------------------*/
/*Глобальные переменные, миксины и т.п.*/
:root {
  --color-headlines: #212121;
  --color-headlines-second: #ffffff;
  --color-text: #757575;
  --color-decor: #2196f3;
  --color-decor-second: #188ce8;
  --bg-main: #ffffff;
  --bg-footer: #2f303a;
  --bg-section-decor: #f5f4fa;
  --bg-icon: #afb1b8;
  --font-main: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Сброс стилей*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headlines);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--bg-main);
}

/*Общие классы*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--dark-color {
  background-color: var(--bg-section-decor);
}

.curent {
  color: var(--color-decor);
  position: relative;
}

.curent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-decor);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: relative;
  width: 450px;
  min-height: 581px;
  padding: 40px;
  overflow: auto;
  background-color: var(--bg-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(0);
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: scale(0.5) translate(1000px);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms var(--timing-function);
  cursor: pointer;
}

.modal__button:hover, .modal__button:focus {
  transform: rotate(90deg);
}

.modal__button-icon {
  fill: #000000;
  transition: fill 250ms var(--timing-function);
}

.modal__button:hover .modal__button-icon,
.modal__button:focus .modal__button-icon {
  fill: var(--color-decor);
}

.modal__title {
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: var(--color-headlines);
}

.contact-form__item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: var(--color-text);
}

.contact-form__input-wrap {
  display: block;
  position: relative;
}

.contact-form__field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  color: #000000;
  transition: border-color 250ms var(--timing-function);
}

.contact-form__field:focus {
  outline: none;
  border-color: var(--color-decor);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.contact-form__field:focus + .contact-form__icon {
  fill: var(--color-decor);
}

.contact-form__field--size {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  overflow: auto;
}

.contact-form__field--size::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__check-item {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--color-text);
}

@media screen and (min-width: 1200px) {
  .contact-form__check-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
}

.contact-form__check-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #000000;
  box-shadow: #ffffff 0 2px 5px 1px, #75757569 0 5px 3px 0px;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .contact-form__check-wrap {
    margin-left: 12px;
  }
}

.contact-form__check-icon {
  fill: var(--bg-main);
}

.contact-form__check:checked + .contact-form__check-wrap {
  border: none;
  box-shadow: none;
  background-color: var(--color-decor);
}

.contact-form__link-agree {
  position: relative;
  color: var(--color-decor);
  outline: none;
  line-height: 100%;
}

.contact-form__link-agree::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-decor);
  transform: scaleX(1);
  transition: transform 250ms var(--timing-function);
}

.contact-form__link-agree:hover::after, .contact-form__link-agree:focus::after {
  transform: scaleX(0);
}

.contact-form__button {
  margin-right: auto;
  margin-left: auto;
}

/*Макет*/
.header {
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__nav {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-transform: capitalize;
  color: var(--color-headlines);
  transition: color 250ms var(--timing-function);
}

.header__nav-link:hover, .header__nav-link:focus {
  color: var(--color-decor);
}

.logo {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: var(--font-logo);
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.logo__colored-part {
  color: var(--color-decor);
}

.logo--light {
  color: var(--color-headlines-second);
}

.title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: var(--color-headlines);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.title--margin-bottom {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title--margin-bottom {
    margin-bottom: 50px;
  }
}

.title--light {
  color: var(--color-headlines-second);
}

.contacts-list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  transition: color 250ms var(--timing-function);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--color-decor);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.button {
  display: flex;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 400;
  color: var(--color-headlines-second);
  background-color: var(--color-decor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

.button:hover, .button:focus {
  background-color: var(--color-decor-second);
}

.button--bold-font {
  font-weight: 700;
}

.button--light {
  color: var(--color-headlines);
  background-color: var(--bg-section-decor);
  box-shadow: none;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button--light:hover, .button--light:focus {
  color: var(--color-headlines-second);
  background-color: var(--color-decor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__icon {
  fill: var(--bg-main);
}

.button__icon--right {
  margin-left: 10px;
}

.button-list {
  display: flex;
  margin-bottom: 19px;
}

@media screen and (min-width: 480px) {
  .button-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 35px;
  }
}

.button-list__item {
  margin-bottom: 15px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__button {
  padding: 6px 16px;
  font-size: 12px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .button-list__button {
    padding: 6px 22px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.product__item {
  transition: transform 250ms var(--timing-function);
}

.product__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .product__item {
    flex-basis: calc((100% - 2 * 32px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .product__item {
    flex-basis: calc((100% - 3 * 32px) / 3);
    margin: 15px;
  }
}

.product__link {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: var(--bg-main);
  transition: box-shadow 250ms var(--timing-function);
}

.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.produck__details {
  position: relative;
  overflow: hidden;
}

.product__img {
  display: block;
  width: 100%;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  transform: translateY(0);
}

.product__description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 24px;
  color: var(--bg-main);
  opacity: 0;
  transition: opacity 450ms var(--timing-function);
}

.product__link:hover .product__description,
.product__link:focus .product__description {
  opacity: 1;
}

.product__board {
  padding: 20px 24px;
}

.product__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.product__direction {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--color-text);
}

.icons-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -5px;
}

/* .icons-gallery--margin-bottom {
  margin-bottom: 24px;
  //margin-bottom: 30px;
} */
.icons-gallery__item {
  margin: 0 5px;
}

.icons-gallery__link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--bg-icon);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.icons-gallery__link:hover, .icons-gallery__link:focus {
  background-color: var(--color-decor);
  color: var(--bg-main);
  border: none;
}

.icons-gallery__link--dark {
  color: var(--bg-main);
  background-color: rgba(255, 255, 255, 0.1);
}

.icons-gallery__svg {
  display: flex;
  fill: currentColor;
}

.footer {
  background-color: var(--bg-footer);
}

.footer__content {
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__content {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content {
    flex-wrap: wrap;
  }
}

.footer__wrap-address {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .footer__wrap-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap-address {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap-address {
    margin-right: 70px;
  }
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
}

.address__map-link {
  display: block;
  margin-bottom: 8px;
  color: var(--color-headlines-second);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .address__map-link {
    margin-bottom: 9px;
  }
}

.address__map-link:hover, .address__map-link:focus {
  color: var(--color-decor);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--color-decor);
}

@media screen and (max-width: 767px) {
  .footer__socials-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__socials-wrap {
    width: 50%;
    padding-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials-wrap {
    margin-top: 72px;
    margin-right: 93px;
  }
}

.footer__title {
  margin-bottom: 20px;
}

.footer__title > strong {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-headlines-second);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form-wrap {
    width: 100%;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-wrap {
    margin-top: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form__field {
  display: block;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms var(--timing-function);
  color: var(--bg-main);
}

@media screen and (max-width: 1199px) {
  .subscribe-form__field {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__field {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__field {
    margin-right: 12px;
  }
}

.subscribe-form__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__field:focus {
  outline: none;
  border-color: var(--color-decor);
}

.subscribe-form__button {
  align-items: center;
  width: 200px;
  padding: 10px 28px;
}

@media screen and (max-width: 1199px) {
  .footer__button {
    margin-right: auto;
    margin-left: auto;
  }
}
/*# sourceMappingURL=portfolio.css.map */