.contacts-list {
  @include font($fw: 500, $fs: 14px, $lh: 1.14, $ls: 0.02em);
  display: flex;
}
.contact-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-decor);
  }
}
.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
