.header {
  border-bottom: 1px solid #ececec;
}
.header__wrap {
  display: flex;
  align-items: center;
  @media screen and(max-width: 1199px) {
    justify-content: space-between;
  }
}
.header__nav {
  display: none;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font($fs: 14px, $lh: 1.14, $ls: 0.02em, $fw: 500);
  text-transform: capitalize;
  color: var(--color-headlines);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-decor);
  }
}
