.logo {
  //margin-right: 90px;
  @include font($fs: 24px, $lh: 1.17, $ls: 0.03em, $fw: 700);
  @media screen and (min-width: 1200px) {
    @include font($fs: 26px, $lh: 1.19, $ls: 0.03em, $fw: 700);
  }
  font-family: var(--font-logo);
  color: #000000;
  &__colored-part {
    color: var(--color-decor);
  }
}
.logo--light {
  color: var(--color-headlines-second);
}
