.logo {
  margin-right: 90px;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  &__colored-part {
    color: var(--color-decor);
  }
}
.logo--light {
  color: var(--color-headlines-second);
}
