.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.modal {
  position: relative;
  width: 450px;
  min-height: 581px;
  padding: 40px;
  overflow: auto;
  background-color: var(--bg-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(0);
  transition: transform 250ms var(--timing-function);
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}
.is-hidden .modal {
  transform: scale(0.5) translate(1000px);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms var(--timing-function);
  cursor: pointer;
  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
}
.modal__button-icon {
  fill: #000000;
  transition: fill 250ms var(--timing-function);
  .modal__button:hover &,
  .modal__button:focus & {
    fill: var(--color-decor);
  }
}

.modal__title {
  padding-bottom: 12px;
  @include font($fs: 20px, $lh: 1.15, $ls: 0.03em, $fw: 700);
  text-align: center;
  color: var(--color-headlines);
}
.contact-form__item {
  @include font($fs: 12px, $lh: 1.17, $ls: 0.01em);
  color: var(--color-text);
}
.contact-form__input-wrap {
  display: block;
  position: relative;
}
.contact-form__field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  color: #000000;
  transition: border-color 250ms var(--timing-function);
  &:focus {
    outline: none;
    border-color: var(--color-decor);
  }
}
.contact-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--timing-function);
}
.contact-form__field {
  &:focus + .contact-form__icon {
    fill: var(--color-decor);
  }
}
.contact-form__field--size {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  overflow: auto;
  &::placeholder {
    @include font($fs: 14px, $lh: 1.14, $ls: 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form__check-item {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 30px;
  @include font($fs: 12px, $lh: 1.17, $ls: 0.03em);
  @media screen and(min-width: 1200px) {
    @include font($fs: 14px, $lh: 1.71, $ls: 0.03em);
  }
  color: var(--color-text);
}
.contact-form__check-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  @media screen and(min-width: 1200px) {
    margin-left: 12px;
  }
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #000000;
  box-shadow: #ffffff 0 2px 5px 1px, #75757569 0 5px 3px 0px;
  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.contact-form__check-icon {
  fill: var(--bg-main);
}
.contact-form__check {
  &:checked + .contact-form__check-wrap {
    border: none;
    box-shadow: none;
    background-color: var(--color-decor);
  }
}
.contact-form__link-agree {
  position: relative;
  color: var(--color-decor);
  outline: none;
  line-height: 100%;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-decor);
    transform: scaleX(1);
    transition: transform 250ms var(--timing-function);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(0);
  }
}
.contact-form__button {
  margin-right: auto;
  margin-left: auto;
}
