:root {
  --color-headlines: #212121;
  --color-headlines-second: #ffffff;
  --color-text: #757575;
  --color-decor: #2196f3;
  --color-decor-second: #188ce8;
  --bg-main: #ffffff;
  --bg-footer: #2f303a;
  --bg-section-decor: #f5f4fa;
  --bg-icon: #afb1b8;
  --font-main: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
